.todo_create-files {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .todo_create-files_files {
    display: flex;
    align-items: flex-end;
  }
}

.todo_file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

.todo_file-input + span {
  text-decoration: underline;
  cursor: pointer;
}

.todo_file-input:focus + span {
  outline: 1px auto;
  outline: -webkit-focus-ring-color auto 5px;
}