.todo_add {
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  header {
    text-align: center;
    width: 100%;
  }
}

.todo_create {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .todo_create-blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .todo_create-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 260px;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .expired {
    display: flex;
    gap: 10px;
    input {
      width: 50%;
    }
  }

  .error {
    color: #ff5930;
  }

  .todo_create-button {
    width: 100px;
    cursor: pointer;
  }
}